<!DOCTYPE html>
<html lang="en" style="font-size: 10px">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Web Indexer</title>
		<link
			rel="icon"
			href="https://web-indexer-bucket.s3.us-east-1.amazonaws.com/logo.svg"
			type="image/png"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap"
			rel="stylesheet"
		/>

<script async="" src="https://web-indexer-bucket.s3.amazonaws.com/chatWidgetLink-1a056a54-99b1-4987-9432-f8f7c89e332a.js"></script>
<!--
<script async src="https://web-indexer-bucket.s3.amazonaws.com/chatWidgetLink-d1d5d1b7-002b-4daa-b581-7f784e38f9cd.js"></script>
		<script async src="./script_template.js"></script>-->
	</head>
	<body></body>
</html>
